__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
*.ipynb
.ipynb_checkpoints
*.md
test_*.py
tests/
docs/
.DS_Store
*.swp
*.swo
.idea/
docker-compose*.yml
Dockerfile*